branca==0.8.2
certifi==2026.4.22
charset-normalizer==3.4.7
folium==0.20.0
idna==3.13
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.4
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.0
PyQt6_sip==13.11.1
python-dotenv==1.2.2
requests==2.33.1
urllib3==2.6.3
xyzservices==2026.3.0
